@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=Open+Sans:wght@400;500;600;700&display=swap');

.main {
min-height:100vh;
font-family: 'Bai Jamjuree', sans-serif;
}

.container{
border: solid 2px #dee2e6 ;
padding: 10px;
margin:10px;
display:grid;
grid-template-columns: 1fr 1fr ;
}

.title{
color:  #343a40;
text-align: center;
font-weight: bold;
margin-left:-15px;
font-size:13px;
}

.image-1{
display: block;
margin:auto;
padding-top:20px;
width: 50%;
}

.right-container{
display:grid;
}
.description{
vertical-align: center;
text-align:center;
color:#6c757d;
font-size:10px;
}

.button{

margin-top:20px;
border:none;
background-color: transparent;
font-family: 'Bai Jamjuree', sans-serif;
cursor: pointer;
}

